mrlldd.Functional/.idea
mrlldd.Functional/mrlldd.Functional/obj
mrlldd.Functional/mrlldd.Functional.Currying/obj
mrlldd.Functional/mrlldd.Functional/bin
mrlldd.Functional/mrlldd.Functional.Currying/bin
mrlldd.Functional/mrlldd.Functional.Object/bin
mrlldd.Functional/mrlldd.Functional.Object/obj
mrlldd.Functional/mrlldd.Functional.Result/obj
